---
title: Cambridge Ruby User Group
---

<div class="welcome">
  <div class="logo">
    <img src="images/crug_logo.png" alt="Cambridge Ruby User Group" />
  </div>
  <hr />
  <div class="details">
    <div class="intro">
      <p>
        The Cambridge Ruby User Group (CRUG) is a regular meeting for <a
          href="http://www.ruby-lang.org/en/" title="Ruby Programming language">Ruby</a>
        developers and enthusiasts based in Cambridge, United Kingdom and surrounding
        areas.
      </p>
      <p>
        Join our <a href="http://www.meetup.com/Cambridge-Ruby-User-Group/" title="Cambridge Ruby User Group at Meetup.com">Meetup</a> group to receive notification of meetings and to tell us you're coming.
      </p>
      <p>
        Our group is kindly sponsored by: <a href="http://www.unep-wcmc.org/" title="UNEP WCMC"><img src="images/unep_wcmc_logo.jpeg" alt="UNEP and WCMC logos" /></a>
      </p>
    </div>
    <div class="meetup">
      <h2>Our next meeting</h2>
      <iframe width="400" height="320" src="http://meetu.ps/1K8Y5W" frameborder="0"></iframe>
    </div>
  </div>
  <div class="clear"></div>
</div>
